@{
    Layout = "~/Views/Shared/_Default.cshtml";
    ViewBag.Title = "Home";
}

@section BodySection {
    <div class="Welcome">
        <h1>Welcome to Blue Curtains Minecraft Realm</h1>
    </div>
}