* {
	margin: 0;
}

html {
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	margin: 0;
}

.banner_background {
	height: 125px;
	width: 100%;
	min-width: 1000px;
	background-color: black;
	position: fixed;
}

.title_banner {
	margin-left: 5%;
	height: inherit;
	width: inherit;
	min-width: inherit;
	background-image: url('images/titlebar_short.png');
	background-repeat: no-repeat;
}

.content {
	width: 100%;
	height: 2000px;
	background-image: url('images/background_repeat.png');
	background-repeat: repeat;
}

/* Scrollbar */
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(189, 189, 189, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(189, 189, 189, 0.8); 
}