button {
    width: 300px;
    height: 50px;
    display: inline-block;
    font-size: 30px;
    font-family: "Bitter",serif;
    line-height: 1.8;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
}

button:focus {
  outline: none
}

section.press button {
  color: #000;
  background-color: #79B0E8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #618DBA;
}

section.press button:hover,
section.press button.hover {
  background-color: #618DBA;
}

section.press button:active,
section.press button.active {
  background-color: #79B0E8;
  box-shadow: 0 5px #618DBA;
  transform: translateY(5px);
}

/* Gradient */

section.gradient {
    display: table-cell;
    vertical-align: bottom;
}

section.gradient button {
    
  color: #fff;
  text-shadow: -2px 2px #346392;
  background-color: #79B0E8;
  background-image: linear-gradient(top, #79B0E8, #618DBA);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 15px;
}
section.gradient button:hover,
section.gradient button.hover {
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
}
section.gradient button:active,
section.gradient button.active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}