.mode_selector_menu {
    height: 0;
    width: 100%;
    display: table;
    visibility: hidden;
	background-image:url('../images/title_banner_only.png');  
	background-repeat: no-repeat;
	background-position: center;
	background-size: '0 0';
}

.mode_selector_menu p {
    height: 0;
}

.mode_selector_table_numbers {
    width: 0;
    height: 0;
    max-width: 1000px;
}

.arrange_menu_button_numbers,
.flip_menu_button_numbers,
.tile_menu_button_numbers {
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
	height: 0;
	width: 0;
}

.mode_selector_table_alphabet {
    width: 0;
    height: 0;
    max-width: 1000px;
}

.arrange_menu_button_alphabet,
.flip_menu_button_alphabet,
.tile_menu_button_alphabet {
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
	height: 0;
	width: 0;
}

.arrange_menu_button_alphabet:hover,
.flip_menu_button_alphabet:hover,
.tile_menu_button_alphabet:hover,
.arrange_menu_button_numbers:hover,
.flip_menu_button_numbers:hover,
.tile_menu_button_numbers:hover {
    transform: scale(1.25);
}